<div class="otherBody">
  <h1 class="text-center">Menu</h1>
  <div class="col-sm-12 menu">
    <div class="col-sm-3 menuPart formsList">
      <app-filter-form [categories]="this.categories"></app-filter-form>
      <app-search-form></app-search-form>
      <form [formGroup]="this.sortForm" (ngSubmit)="this.sort()">
        <div class="form-group">
          <h3>Sort by price:</h3>
          <label class="formLabel" for="criteria">Criteria:</label>
          <select class="form-control" id="criteria" formControlName="criteria">
            <option value="ascending">Ascending</option>
            <option value="descending">Descending</option>
          </select>
          <button class="btn btn-info">Sort</button>
        </div>
      </form>
    </div>
    <div class="col-sm-9 menuPart menuList">
      <ul>
        <li *ngFor="let meal of this.meals | paginate: { itemsPerPage: 10, currentPage: p }" class="mealItem menuPart col-sm-4">
          <div>
            <a routerLink="/mealDetails/{{meal._id}}"><img class="mealImage" src="{{meal.imageUrl}}"/></a>
            <div class="mealDescription">
              <div>Name: {{meal.name}}</div>
              <div>Price: {{meal.price}}$</div>
              <div>
                <button class="btn btn-success">Add To Cart</button>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <pagination-controls class="paginationCustom" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
