/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-notifier/styles.css";

app-root {
  height: 100%;
}

#qtyInput {
  width: 50%;
}

.formBody {
  margin-left: 38%;
  margin-top: 3%;
}

.mealDescription {
  background-color: #fff37d;
  font-weight: bold;
}

.mealDescription div {
  padding: 4px;
}

.cartItem {
  margin-bottom: 3%;
  padding: 1%;
  margin-right: 3%;
  border-radius: 20px;
}

#totalPriceInfo {
  font-size: x-large;
  font-weight: bold;
  margin-left: 6%;
}

.cartItem:hover {
  background-color: #ffc200;
}

ul {
  list-style-type: none;
}

.mealItem {
  padding: 5px;
  transition: transform .2s;
  text-align: center;
}

.mealItem:hover {
  transform: scale(1.2);
  z-index: 5;
}

.mealItem:hover .mealDescription {
  background-color: #ffc200;
}

.mealImage {
  width: 100%;
  height: 200px;
}

.detailsImage {
  width: 100%;
  height: 80%;
  padding-top: 10%;
}

#logo {
  height: 500px;
}

#addButton:hover {
  background-color: #079601 !important;
}

.detailsDivs {
  height: 430px;
}

.topOfPage {
  float: left;
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}

#homeScreen {
  overflow: hidden;
}

#mealButtons button {
  margin-right: 7%;
}

.bg-yellowCustom {
  background-color: #ffc200;
}

.paginationCustom {
  text-align: center;
}

.paginationCustom /deep/ .ngx-pagination {
  background-color: #fff37d;
  width: 50%;
  margin-left: 25%;
}

.paginationCustom /deep/ .ngx-pagination .current {
  background-color: #ffc200;
  color: black;
  font-weight: bold;
}

.paginationCustom /deep/ .ngx-pagination .disabled {
  background-color: #515109;
}

.paginationCustom /deep/ .ngx-pagination .pagination-next:hover {
  background-color: #ffc200;
  color: black;
}

.paginationCustom /deep/ .ngx-pagination .pagination-previous:hover {
  background-color: #ffc200;
  color: black;
}

.bodyStyle {
  background-color: #f8ff77;
  position: absolute;
  width: 100%;
  min-height: 100%;
  top: 9%;
  left: 0;
}

.functionButton {
  margin-top: 2%;
  background-color: #ffc200 !important;
  border: none !important;
  color: black !important;
  font-weight: bold !important;
}

.functionButton:hover {
  background-color: #b78f00 !important;
}

#editButton:hover {
  background-color: #1a91ff !important;
}

#deleteButton:hover {
  background-color: #f60909 !important;
}

.generalText {
  font-size: 18px;
  color: black;
  font-weight: bold;
}
.marginTop {
  margin-top: 3%;
}

