<div [className]="this.getRowClass()">
  <div class="col-sm-3 d-inline-block">{{this.order.customerName}}</div>
  <div class="col-sm-2 d-inline-block">{{this.order.date}}</div>
  <div class="col-sm-2 d-inline-block">{{this.order.location}}</div>
  <div class="col-sm-2 d-inline-block">{{this.order.totalPrice}}$</div>
  <div class="col-sm-3 d-inline-block">
    <a routerLink="/orderDetails/{{this.order._id}}"><button type="button" class="btn btn-success functionButton mb-2">Details</button></a>
    <button *ngIf="this.displayTakeButton()" (click)="this.takeOrder()" class="btn btn-success functionButton mb-2">Take</button>
    <button *ngIf="this.displayDeliverButton()" (click)="this.deliverOrder()" class="btn btn-success functionButton mb-2">Deliver</button>
  </div>
</div>

