<div class="bodyStyle">
  <h1 class="text-center">About Us</h1>
  <div class="col-sm-12 marginTop">
    <div class="col-sm-5 d-inline-block float-left">
      <ngx-slides [slideImages]="this.imageUrls" [config]="this.config"></ngx-slides>
    </div>
    <div class="col-sm-1 d-inline-block float-left"></div>
    <div class="col-sm-6 d-inline-block float-left">
      <div class="generalText">
        #Restaurant is a new restaurant chain, that has just opened its first three restaurants in Sofia, Bulgaria.
        We specialize in the bulgarian, french and asian cousine and we can guarantee you you'll like our meals.
        We also offer online-ordering - you can order your meals online and choose whether you want them delivered
        by us or you can pick it up yourself from one of our offices.<br/>
        Login or create your account now <a routerLink="/">here</a> and start enjoying life.<br/>
        You can view the location of the restaurants, as well as the contact details of each restaurant <a routerLink="/contactUs">here</a>.
      </div>
    </div>
  </div>
</div>
