<div class="bodyStyle">
  <h1 class="text-center">My Cart</h1>
  <div *ngIf="this.cartService.isEmpty()" class="text-center font-weight-bold anouncement">
    Currently, you have 0 items in your cart.
  </div>
  <div *ngIf="!this.cartService.isEmpty()" class="marginTop">
    <ul>
      <li *ngFor="let item of this.cart" class="cartItem">
        <app-cart-item [refresh]="this.refresh" (refreshEvent)="this.ngOnInit()" (totalPriceChange)="this.totalPrice = $event" [totalPrice]="this.totalPrice" [item]="item"></app-cart-item>
      </li>
    </ul>

    <div class="d-inline-block" id="totalPriceInfo">
      Total Price: {{this.totalPrice}}$
      <button class="btn btn-success functionButton">Take my order</button>
    </div>
  </div>

</div>
