<div class="bodyStyle">
  <h1 class="text-center marginTop">All Users</h1>
  <div class="col-sm-12 marginTop text-center bg-yellowCustom">
    <div class="heading col-sm-3 d-inline-block">Username</div>
    <div class="heading col-sm-3 d-inline-block">Email</div>
    <div class="heading col-sm-3 d-inline-block">Update Role</div>
    <div class="heading col-sm-3 d-inline-block">
      <form class="form-inline" [formGroup]="this.searchForm" (ngSubmit)="findUser()">
        <input formControlName="username" type="text" class="form-control thin" placeholder="Username..."/>
        <input type="submit" class="btn btn-success marginLeft functionButton"
                [value]="this.getButtonValue()"/>
      </form>
    </div>
  </div>
  <div *ngFor="let user of this.allUsers | paginate: { itemsPerPage: 10, currentPage: p }" class="col-sm-12 text-center font-weight-bold">
    <app-user-row (roleChange)="this.ngOnInit()" [refresh]="this.refresh" [user]="user"></app-user-row>
  </div>
  <div *ngIf="this.allUsers.length <= 10" class="text-center font-weight-bold">Here's only one page</div>
  <pagination-controls *ngIf="this.allUsers.length > 10" class="paginationCustom" (pageChange)="p = $event"></pagination-controls>
</div>
