<ul>
  <li *ngFor="let item of this.cart" class="cartItem">
    <div class="col-sm-12">
      <div class="col-sm-3 d-inline-block">
        <a routerLink="/mealDetails/{{item.meal._id}}"><img class="mealImage" src="{{item.meal.imageUrl}}"/></a>
      </div>
      <div class="col-sm-2 d-inline-block">
        <h4 class="text-center">Meal:</h4>
        <div class="text-center font-weight-bold">{{item.meal.name}}</div>
      </div>
      <div class="col-sm-3 d-inline-block">
        <h4 class="text-center">Quantity:</h4>
        <div class="text-center">
          <input (input)="this.qtyValue=$event.target.value" (change)="this.update(item.meal, this.qtyValue)"
                 type="number" min="1" class="form-control d-inline-block" id="qtyInput" value="{{item.qty}}"/>
        </div>
      </div>
      <div class="col-sm-2 d-inline-block">
        <h4 class="text-center">Subtotal:</h4>
        <div class="text-center font-weight-bold">{{item.subtotal.toFixed(2)}}$</div>
      </div>
      <div class="col-sm-2 d-inline-block">
        <button (click)="this.remove(item.meal)" type="button" class="btn btn-danger">Remove</button>
      </div>
    </div>
  </li>
</ul>
